{% extends "lp_base.tmpl" %}

{% block title %}Collection doi:{{ collection.identifier }}{% endblock %}

{% block h2 %}{{ collection.title }}{% endblock %}

{% block pub_info %}{{ collection.publisher }}, {{ collection.publicationyear }}{% endblock %}

{% block doi %}{{ collection.identifier }}{% endblock %}

{% block lpbody %}

<p>
<a href="{{ collection.link }}">Refine/download</a>
</p>

<table class="taginfo">
    <tr>
        <th>Description</th>
        <th>PubMed ID</th>
        <th>Publication DOI</th>
        <th>Funder</th>
        <th>Authors</th>
    </tr>
    {% for info in collection.info %}
        <tr>
            <td>{{ info['description'] }}</td>
            <td>
                {% if info['pubmed_id'] %}
                    {{ info['pubmed_id'] | pubmed_link }}
                {% endif %}
            </td>
            <td>
                {% if info['pub_doi'] %}
                    {{ info['pub_doi'] | doi_link}}
                {% endif %}
            </td>
            <td>{{ info['funder'] }}</td>
            <td>
                {% for author in info['authors'] %}
                    {{ author }}
                    <br/>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<table class="metadata">

    <tr>
        <td>Source projects</td>
        <td>
            {% for (type, identifier) in collection.relatedidentifiers['IsDerivedFrom'] %}
                {% if type == 'DOI' %}
                    {{ identifier | doi_link }}
                {% else %}
                    {{ type }} {{ identifier }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
     </tr>

     <tr>
        <td>Source images</td>
        <td>
            {% for (type, identifier) in collection.relatedidentifiers['HasPart'] %}
                {% if type == 'DOI' %}
                    {{ identifier | doi_link }}
                {% else %}
                    {{ type }} {{ identifier }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
            {% for size in collection.sizes %}
                {{ size }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Formats</td>
        <td>
            {% for format in collection.formats %}
                {{ format }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Rights</td>
        <td>
            {% for (rights, uri) in collection.rights %}
                {% if uri is not none %}
                    <a href="{{ uri }}">{{ rights }}</a>
                {% else %}
                    {{ rights }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

</table>

{% endblock %}
