{% extends "lp_base.tmpl" %}

{% block title %}Image {{ image.identifier }}{% endblock %}

{% block h2 %}{{ image.title }}{% endblock %}

{% block doi %}{{ image.identifier }}{% endblock %}

{% block pub_info %}{{ image.publisher }}, {{ image.publicationyear }}{% endblock %}

{% block lpbody %}

<table>

    <tr>
        <td>Creators</td>
        <td>
            {% for (name, affiliation) in image.creators %}
                {% if affiliation %}
                    {{ name }} ({{ affiliation }})
                {% else %}
                    {{ name }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Project</td>
        <td>
            <a href="http://dx.doi.org/{{ image.project.identifier }}">{{ image.project.identifier }}</a>
        </td>
    </tr>

    <tr>
        <td>Collections</td>
        <td>
            {% for collection in image.collections %}
                <a href="http://dx.doi.org/{{ collection.identifier }}">{{ collection.identifier }}</a>
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
            {% for size in image.sizes %}
                {{ size }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Format</td>
        <td>
            {{ image.format }}
        </td>
    </tr>

    <tr>
        <td>Version</td>
        <td>{{ image.version }}</td>
    </tr>

    <tr>
        <td>Rights</td>
        <td>
            {% for (rights, uri) in image.rights %}
                {% if uri is not none %}
                    <a href="{{ uri }}">{{ rights }}</a>
                {% else %}
                    {{ rights }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

</table>

<p>
<a href="{{ image.link }}">Download</a>
</p>


{% endblock %}
