{% extends "base.tmpl" %}

{% block title %}Search{% endblock %}

{% block body %}

{% if error %}
<p class="error">
    ERROR: {{ error }}
<p>
{% endif %}

{% if feedback %}
<p class="feedback">
    {{ feedback }}
</p>
{% endif %}

<p>
{% if not search.modified() %}
    This page shows a collection of images starting with {{ search.description }}.
{% else %}
    This page shows a modified collection of images starting with {{ search.description }}.
{% endif %}
</p>

<p>
If you don't want to tag this collection, you can <a href="{{ search_url }}">go back</a> and refine or download the collection.
</p>

<form action="{{ post_url }}" method="POST">

<dl>

    <dt>Publication PMID</dt>
    <dd><input type="text" name="pubmed_id" size="10" value="{{ tag_form_dict['pubmed_id'] }}" /></dd>

    <dt>Publication DOI</dt>
    <dd><input type="text" name="publication_doi" size="20" value="{{ tag_form_dict['publication_doi'] }}" /></dd>

    <dt>
        Authors
        <br/>
        (one per line)
    </dt>
    <dd><textarea cols="20" rows="5" name="authors">{{ '\n'.join(tag_form_dict['authors']) }}</textarea></dd>

    <dt>Funder</dt>
    <dd><input type="text" name="funder" size="40" value="{{ tag_form_dict['funder'] }}" /></dd>

    <dt>Description</dt>
    <dd><textarea cols="40" rows="5" name="description">{{ tag_form_dict['description'] }}</textarea></dd>

</dl>

<br/>

        {% if search.collection.doi is none %}
            This collection has not been tagged with a DOI.
            <br/>
            <br/>
            If you are test driving the system, please create a temporary test DOI.  If you would like to create a permanent DOI for this data set, please indicate this by checking here:
            {% if tag_form_dict['test'] %}
                <input type="checkbox" name="not_test" value="true" />
            {% else %}
                <input type="checkbox" name="not_test" value="true" checked="checked" />
            {% endif %}
        {% else %}
            {% if search.collection.doi.is_test %}
                This collection is tagged with a temporary test DOI.  If you would like to create a permanent DOI for this data set, please indicate this by checking here:
                {% if tag_form_dict['test'] %}
                    <input type="checkbox" name="not_test" value="true" />
                {% else %}
                    <input type="checkbox" name="not_test" value="true" checked="checked" />
                {% endif %}
            {% else %}
                This collection has a permanent DOI.
            {% endif %}
        {% endif %}
        <br/>

<br/>

<input type="submit" name="submit" value="Tag" />

</form>

{% endblock %}
