{% extends "base.tmpl" %}

{% block title %}UMass/CANDI DOI{% endblock %}

{% block body %}

<p>
This is the proof-of-concept site for the Image Attributation Framework (IAF).
</p>

<p>
Code for this project can be found <a href="http://github.com/chaselgrove/doi">on github</a>.
</p>

{% endblock %}
