{% extends "base.tmpl" %}

{% block title %}UMass/CANDI DOI{% endblock %}

{% block body %}
<ul>
<li><a href="/xnat">Image database</a></li>
<li><a href="/search">Search</a></li>
</ul>
{% endblock %}
