{% extends "base.tmpl" %}

{% block title %}Image Attribution Framework{% endblock %}

{% block body %}

<p>
This is the proof-of-concept site for the Image Attribution Framework (IAF).
</p>

<p>
For more information, please contact <a href="mailto:iaf@virtualbrain.org">iaf@virtualbrain.org</a>.
</p>

<p>
Code for this project can be found <a href="http://github.com/chaselgrove/doi">on github</a>.
</p>

{% endblock %}
