#container {
    min-width: 600px;
}

body {
    font-family: "Helvetica", sans-serif;
}

div {
}

#header {
    background-color: #eef;
}

#header h1 {
    float: left;
    margin-left: 20px;
}

#header img {
    float: right;
    margin-right: 20px;
}

#links {
    background-color: #aaf;
    clear: both;
    height: 20px;
    width: 100%;
}

#links a {
    display: block;
    color: #000;
    float: left;
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

#header + div {
    clear: both;
}

#footer {
    background-color: #fff;
    border-top: 1px solid #000;
    padding-top: 10px;
    height: 55px;
}

#footer img {
    float: right;
    margin: 5px 20px;
}

#body {
    padding: 20px;
}

#body form dt {
    clear: left;
    float: left;
    margin: 0;
    width: 100px;
}

#body form dd {
    padding-bottom: 10px;
    float: left;
    margin: 0;
    width: 200px;
}

#body form + br {
    clear: both;
}

#body table {
    border: 1px solid #000;
    border-collapse: collapse;
}

#body table td, table th {
    border: 1px solid #000;
}

/* eof */
