<html>

<head>
<title>CANDI DOIs</title>
</head>

<body>

<p>
This is a search, starting with {{ search.description }}.
{% if search.modified() %}
    The search results have been modified.
{% endif %}
</p>

{% if error %}
    error is {{ error }} and done
{% endif %}

{% if feedback %}
    {{ feedback }}
{% endif %}

<form action="{{ post_url }}" method="POST">

<input type="submit" value="Update" />

<table>
    <tr>
        <th>project</th>
        <th>subject</th>
        <th>gender</th>
        <th>age</th>
        <th>handedness</th>
        <th>scan</th>
        <th></th>
        <th></th>
    </tr>
{% for project in projects %}
    {% for subject in project.subjects %}
        {% for image in subject.images %}
            <tr>
                <td>{{ project.xnat_id }}</td>
                <td>{{ subject.label }}</td>
                <td>{{ subject.gender }}</td>
                {% if subject.age is none %}
                    <td></td>
                {% else %}
                    <td>{{ subject.age }}</td>
                {% endif %}
                {% if subject.handedness is none %}
                    <td></td>
                {% else %}
                    <td>{{ subject.handedness }}</td>
                {% endif %}
                <td>{{ image.type }}</td>
                {% if search.collection.has_image(image) %}
                    <td></td>
                    <td><input type="checkbox" name="exclude_{{ image.identifier }}" value="true" />Exclude</td>
                {% else %}
                    <td><input type="checkbox" name="include_{{ image.identifier }}" value="true" />Include</td>
                    <td></td>
                {% endif %}
                </td>
        {% endfor %}
    {% endfor %}
{% endfor %}

<input type="submit" value="Update" />

</form>

<form action="http://doi.virtualbrain.org/xnat/app/action/DownloadSessionsAction2" method="POST">

<input type="hidden" name="assessors" value="ir:CandiShareSegData" />
<input type="hidden" name="download_option" value="applet" />
<input type="hidden" name="eventSubmit_doPerform" value="Submit" />
<input type="hidden" name="scan_format" value="NIfTI" />
<input type="hidden" name="scan_format" value="ANALYZE" />
<input type="hidden" name="scan_type" value="anat" />
<input type="hidden" name="simplified" value="true" />
{% for image in search.collection.images %}
    <input type="hidden" name="sessions" value="{{ image.xnat_experiment_id }}" />
{% endfor %}

Note: The download package may contain more data than requested.

<input type="submit"/ value="Download">

</form>


{# <form action={{ post_url }} method="POST" > #}
{# <input name="fail" type="checkbox" /> fail #}
{# <input type="submit"/> #}
{# </form> #}

</body>

</html>
