<html>

<head>
<title>CANDI DOIs</title>
</head>

<body>

<p>
This is result {{ result_id }}.
</p>

{% if error %}
    {{ error }}
{% endif %}

<form action={{ post_url }} method="POST" >
<input name="fail" type="checkbox" /> fail
<input type="submit"/>
</form>

</body>

</html>
