<html>

<head>

<title>{% block title %}{% endblock %}</title>

<style type="text/css">
table {
    border: 1px solid #000;
    border-collapse: collapse;
}
table td {
    border: 1px solid #000;
}
</style>

</head>

<body>

<h2>{% block h2 %}{% endblock %}</h2>

<p>
{% block pub_info %}{% endblock %}
</p>

<p>
DOI {% block doi %}{% endblock %}
</p>

<p>
<a href="{{ xml_url }}" target="_blank">DataCite XML</a>
</p>

{% block body %}
{% endblock %}

</body>

</html>
