{% extends "base.tmpl" %}

{% block title %}Collection doi:{{ collection.identifier }}{% endblock %}

{% block body %}

<table>

    <tr>
        <td>Identifier</td>
        <td>{{ collection.identifier}}</td>
    </tr>

    <tr>
        <td>Title</td>
        <td>{{ collection.title }}</td>
    </tr>

    <tr>
        <td>Creators</td>
        <td>
            {% for (name, affiliation) in collection.creators %}
                {% if affiliation %}
                    {{ name }} ({{ affiliation }})
                {% else %}
                    {{ name }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Publisher</td>
        <td>{{ collection.publisher }}</td>
    </tr>

    <tr>
        <td>Publication year</td>
        <td>{{ collection.publicationyear }}</td>
    </tr>

    <tr>
        <td>Contributors</td>
        <td>
            to do
        </td>
    </tr>

    <tr>
        <td>Resource type</td>
        <td>{{ collection.resourcetype }}</td>
        </td>
    </tr>

    <tr>
        <td>Alternate identifiers</td>
        <td>
            <a href="{{ collection.link }}">{{ collection.link }}</a>
        </td>
    </tr>

    <tr>
        <td>Related identifiers</td>
        <td>
            {% for (type, identifier) in collection.relatedidentifiers['IsDerivedFrom'] %}
                IsDerivedFrom {{ type }} {{ identifier }}
            {% endfor %}
            {% for (type, identifier) in collection.relatedidentifiers['HasPart'] %}
                HasPart {{ type }} {{ identifier }}
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
            {% for size in collection.sizes %}
                {{ size }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Formats</td>
        <td>
            {% for format in collection.formats %}
                {{ format }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Version</td>
        <td>{{ collection.version }}</td>
    </tr>

    <tr>
        <td>Rights</td>
        <td>
            to do
        </td>
    </tr>

    <tr>
        <td>Descriptions</td>
        <td>
            {% for (type, description) in collection.descriptions %}
                {{ description }} ({{ type }})
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Geolocations</td>
        <td>
            {% for place in collection.geolocations %}
                {{ place }}
                <br/>
            {% endfor %}
        </td>
    </tr>

</table>

<table>
    <tr>
        <th>Description</th>
        <th>PubMed ID</th>
        <th>Publication DOI</th>
        <th>Funder</th>
        <th>Authors</th>
    </tr>
    {% for info in collection.info %}
        <tr>
            <td>{{ info['description'] }}</td>
            <td>{{ info['pubmed_id'] }}</td>
            <td>{{ info['pub_doi'] }}</td>
            <td>{{ info['funder'] }}</td>
            <td>
                {% for author in info['authors'] %}
                    {{ author }}
                    <br/>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
