{% extends "base.tmpl" %}

{% block title %}Project doi:{{ project.identifier }}{% endblock %}

{% block h2 %}{{ project.title }}{% endblock %}

{% block pub_info %}{{ project.publisher }}, {{ project.publicationyear }}{% endblock %}

{% block doi %}{{ project.identifier }}{% endblock %}

{% block body %}

<table>

    <tr>
        <td>Creators</td>
        <td>
            {% for (name, affiliation) in project.creators %}
                {% if affiliation %}
                    {{ name }} ({{ affiliation }})
                {% else %}
                    {{ name }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Contact</td>
        <td>{{ project.contributors['ContactPerson'] }}</td>
    </tr>

    <tr>
        <td>Funder</td>
        <td>{{ project.contributors['Funder'] }}</td>
    </tr>

    <tr>
        <td>Dates</td>
        <td>
            {% for type in project.dates %}
                {% for date in project.dates[type] %}
                    {{ type }} {{ date }}
                    <br/>
                {% endfor %}
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Documented by</td>
        <td>
            {% for (type, identifier) in project.relatedidentifiers['IsDocumentedBy'] %}
                {% if type == 'DOI' %}
                    {{ identifier | doi_link }}
                {% elif type == 'PMID' %}
                    {{ identifier | pubmed_link }}
                {% elif type == 'URL' %}
                    <a href="{{ identifier }}">{{ identifier }}</a>
                {% else %}
                    {{ type }} {{ identifier }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Images in project</td>
        <td>
            {% for (type, identifier) in project.relatedidentifiers['HasPart'] %}
                {{ identifier | doi_link }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Collections using project</td>
        <td>
            {% for (type, identifier) in project.relatedidentifiers['IsSourceOf'] %}
                {{ identifier | doi_link }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Sizes</td>
        <td>
            {% for size in project.sizes %}
                {{ size }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Formats</td>
        <td>
            {% for format in project.formats %}
                {{ format }}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Version</td>
        <td>{{ project.version }}</td>
    </tr>

    <tr>
        <td>Rights</td>
        <td>
            {% for (rights, uri) in project.rights %}
                {% if uri is not none %}
                    <a href="{{ uri }}">{{ rights }}</a>
                {% else %}
                    {{ rights }}
                {% endif %}
                <br/>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Geolocations</td>
        <td>
            {% for place in project.geolocations %}
                {{ place }}
                <br/>
            {% endfor %}
        </td>
    </tr>

</table>

<p>
<a href="{{ project.link }}">Project home</a>
</p>

{% for (type, description) in project.descriptions %}
    <h4>{{ type }}</h4>
    <p>{{ description }}</p>
{% endfor %}

{% endblock %}
